<!-- global template -->
<script type="text/x-handlebars" data-template-name="application">
  <div class="container">
    <h1>Vehicles</h1>
    {{outlet}}
    <hr>
    <div class="row">
      <p class="pull-right">
        {{#link-to 'vehicles.new'}}New Vehicle{{/link-to}}
      </p>
    </div>
  <div>
</script>