<script type="text/x-handlebars" data-template-name="index">
  <ol class="breadcrumb">
    <li class="active">Vehicles</li>
  </ol>

  <div class="row">
    <div class="col-sm-8">
      {{render 'vehicles' vehicles}}
    </div>
    <div class="col-sm-4">
      {{render 'products' products}}
    </div>
  </div>
</script>